.portfolio-section {
  display: flex;
  scrollbar-color: transparent transparent;
  width: 100%;
  padding: 1rem 0;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-snap-type: x mandatory;
}
.portfolio-section::-webkit-scrollbar {
  display: none;
}

.portfolio-section .card:first-child {
  margin-left: 10vh;
}
.portfolio-section .card:last-child {
  margin-right: 10vh;
}

.portfolio-section .card {
  margin: 0 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
}

.portfolio-section img {
  width: auto;
  height: 35vh;
  object-fit: cover;
  border: 0.6rem solid white;
  margin-bottom: -5px;
}
.portfolio-section .image-text {
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  padding: 5px 9px 3px 9px;
  text-align: left;
  background-color: white;
  color: black;
}
