.container-skills {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  width: 100%;
  max-width: 40%;
  height: 100%;
  overflow: hidden;
  gap: 1rem;
}
.container-skills .skills-section {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  line-height: normal;
}
.container-skills .header {
  margin: 0;
  max-width: 18rem;
}

.tiles-wrapper {
  overflow: hidden;
  width: 100%;
  perspective: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.tiles-scroll {
  display: flex;
  flex-flow: row nowrap;
  gap: 0;
  width: fit-content;
  flex-shrink: 0;
}

.tiles-scroll-left {
  animation: scroll-infinite-left 40s linear infinite;
}

.tiles-scroll-left-fast {
  animation: scroll-infinite-left 35s linear infinite;
}

.tiles-scroll-right {
  animation: scroll-infinite-right 40s linear infinite;
}

.tiles {
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
}

.tile {
  position: relative;
  padding: 5px;
  transform-style: preserve-3d;
  transform: translateZ(calc(2 * (48px * 1.5 + (48px * 1.5 / 4) * 2)));
  animation: tile-fade-in 0.2s linear forwards;
  font-family: 'Bebas Neue', sans-serif;
}


@keyframes tile-fade-in {
  0% {
    transform: translateZ(calc(2 * (48px * 1.5 + (48px * 1.5 / 4) * 2)));
  }
  100% {
    transform: translateZ(0px);
  }
}

@keyframes scroll-infinite-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-infinite-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.tile .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  height: 30px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  color: white;
  opacity: 0.5;
}

@media screen and (max-width: 1420px) {
  .container-skills {
    max-width: 78%;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .container-skills .skills-section {
    text-align: left;
    max-width: unset;
    margin-bottom: 1rem;
    margin-left: -12.5rem;
  }
  .container-skills .skills-section .about-description {
    margin-top: 0;
    text-align: justify;
    max-width: 16.9rem;
  }
  .container-skills .header {
    text-align: left;
    max-width: none;
    font-size: 5rem;
  }
  .container-skills {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .container-skills .skills-section {
    margin-bottom: 13rem;
    margin-left: 0;
  }
  .container-skills .skills-section .about-description {
    max-width: 21rem;
  }
  .container-skills .header {
    text-align: left;
    max-width: none;
    font-size: 5rem;
    margin-left: 0;
  }
  .tiles-wrapper {
    position: absolute;
    width: 19rem;
    margin-top: 90px;
  }
}
