.container-skills {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-skills .skills-section {
  display: flex;
  flex-direction: column;
  text-align: right;
  max-width: min-content;
  line-height: normal;
}
.container-skills .skills-section .about-description {
  margin-top: 0;
}
.container-skills .header {
  margin: 0;
  text-align: right;
  max-width: 18rem;
}

.tiles {
  margin-top: -40px;
  margin-right: -80px;
  width: calc((48px * 1.5 + (48px * 1.5 / 4) * 2) * 5);
  padding: 50px;
  transform: rotateX(55deg) rotateZ(-45deg);
  transform-style: preserve-3d;
  display: flex;
  flex-flow: row wrap;
}

.tile {
  position: relative;
  padding: calc(48px * 1.5 / 4); /* $tile-padding */
  transform-style: preserve-3d;
  transform: translateZ(calc(2 * (48px * 1.5 + (48px * 1.5 / 4) * 2)));
  animation: tile-fade-in 0.2s linear forwards;
}

.tile .item.pressed {
  transform: translateZ(10px);
  background-color: #f0f0f0;
}

@keyframes tile-fade-in {
  0% {
    transform: translateZ(calc(2 * (48px * 1.5 + (48px * 1.5 / 4) * 2)));
  }
  100% {
    transform: translateZ(0px);
  }
}

.tile .shadow {
  position: absolute;
  left: calc((48px * 1.5 / 4) + (48px * 1.5 / 8));
  right: calc((48px * 1.5 / 4) + (48px * 1.5 / 8));
  top: calc((48px * 1.5 / 4) + (48px * 1.5 / 8));
  bottom: calc((48px * 1.5 / 4) + (48px * 1.5 / 8));
  background-color: rgba(0, 50, 100, 0.5);
  box-shadow: 0 0 calc(48px * 1.5 / 8 / 2) calc(48px * 1.5 / 8 / 2)
    rgba(0, 50, 100, 0.5);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

.tile .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(48px * 1.5);
  height: calc(48px * 1.5);
  background: #fff;
  text-align: center;
  font-size: calc(48px * 1.5 / 2);
  line-height: calc(48px * 1.5);
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(calc(2 * (48px * 1.5 / 8))); /* $tile-offset */
  transition: transform 0.1s ease-in-out;
  z-index: 2;
}

.tile .item:before,
.tile .item:after {
  content: '';
  position: absolute;
  background: #eee;
  box-shadow: inset 0 0 0 1px #ddd;
}

.tile .item:before {
  top: 100%;
  left: 0;
  right: 0;
  height: calc(48px * 1.5 / 8);
  transform: rotateX(-90deg);
  transform-origin: top center;
}

.tile .item:after {
  right: 100%;
  top: 0;
  bottom: 0;
  width: calc(48px * 1.5 / 8);
  transform: rotateY(-90deg);
  transform-origin: right center;
}

@media screen and (max-width: 900px) {
  .container-skills .skills-section {
    text-align: left;
    max-width: unset;
    margin-bottom: 1rem;
    margin-left: -12.5rem;
  }
  .container-skills .skills-section .about-description {
    margin-top: 0;
    text-align: justify;
    max-width: 16.9rem;
  }
  .container-skills .header {
    text-align: left;
    max-width: none;
    font-size: 5rem;
  }
  .container-skills {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .container-skills .skills-section {
    margin-bottom: 21rem;
    margin-left: 0;
  }
  .container-skills .skills-section .about-description {
    max-width: 21rem;
  }
  .container-skills .header {
    text-align: left;
    max-width: none;
    font-size: 5rem;
    margin-left: 0;
  }
  .tiles {
    position: absolute;
    width: 19rem;
    left: 3rem;
    margin-top: 90px;
  }
  .tile {
    padding: calc(28px * 1.5 / 4);
    transform: translateZ(calc(2 * (28px * 1.5 + (28px * 1.5 / 4) * 2)));
  }
  .tile .shadow {
    left: calc((28px * 1.5 / 4) + (28px * 1.5 / 8));
    right: calc((28px * 1.5 / 4) + (28px * 1.5 / 8));
    top: calc((28px * 1.5 / 4) + (28px * 1.5 / 8));
    bottom: calc((28px * 1.5 / 4) + (28px * 1.5 / 8));
    box-shadow: 0 0 calc(28px * 1.5 / 8 / 2) calc(28px * 1.5 / 8 / 2)
      rgba(0, 50, 100, 0.5);
  }
}
