.about-section {
  display: flex;
  align-items: start;
  max-width: 50%;
  gap: 1.7rem;
}

.about-section .header {
  margin: 0;
  text-align: right;
  max-width: 18rem;
}
.about-section .about-description {
  margin: -0.15rem;
  text-align: justify;
  line-height: 1.24rem;
  max-width: 32rem;
}

@media screen and (max-width: 1420px) {
  .about-section {
    flex-direction: column;
    max-width: 78%;
  }
  .about-section .header {
    text-align: left;
    max-width: none;
    font-size: 5rem;
    margin-left: -0.15rem;
    margin-bottom: -1.6rem;
  }
}
