.title-section {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: -4rem;

  animation: enter 0.5s;
  animation-fill-mode: forwards;
}
@keyframes enter {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.subtitle {
  margin-top: -3.8rem;
  font-size: 0.8rem;
}
